<div class=“card mt-5” style=“width: 18rem;“>
  <div class=“card-body”>
    <h5 class=“card-title”>{{user.name}}</h5>
    <h6 class=“card-subtitle mb-2 text-muted”>{{user.role}}</h6>
    <p class=“card-text”>{{user.language}}</p>
    <p class=“card-text”>{{user.framework}}</p>
    <p class=“card-text”>{{user.goal}}</p>
    <a href=“/” class=“card-link”>All Employees</a>
  </div>
</div>